@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@media only screen 	and (max-width: 896px) {
	  
	.project-list {
		font-size: 1px;
	}
}

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, black, rgba(253,185,39), rgba(85,37,130), rgba(85,37,130) , rgba(253,185,39));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.2s;
  -moz-animation-duration:1.2s;
  animation-duration:1.2s;
}

.fade-in.one {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/*---make a basic box ---*/

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media (min-height: 320px) {
	.ui.footer { /* Increased specificity for SO snippet priority */
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	}
}

#main-column {
	margin-top: 30%
}

.about-column {
	margin-top: 12%
}

#main-heading {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 5vw
}

#sub-header {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 3vw;
}

#icon {
	width: 5%!important;
	height: auto;
	transition-duration: 0.8s;
}

#icon:hover {
	width: 6%!important;
	height: auto;
	transition-duration: 0.8s
}

.menu {
	color: inherit;
	font-family: 'Muli', sans-serif;
	transition-duration: 0.6s;
	font-size: 18px
}

.menu:hover {
	color: inherit;
	font-size: 20px;
	transition-duration: 0.6s
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: white
}

p {
	font-family:'Lato', sans-serif;
	font-size: 20px;
}

.project-list {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.6;
	transition-duration: 0.6s
}
.project-list:hover {
	font-size: 15px;
	transition-duration: 0.6s;
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
}

.projectInfoColumn {
	margin-top: 30%;
}

hr {
	padding-top: 12px;
	background-color: white
}

.thirtypercent {
	margin-right: 12vw;
}

.twentypercent {
	margin-right: 15vw;
}

.onepercent {
	margin-right: 19vw;
}


