<style>
  #social-links {
    text-decoration: underline;
    color: white
  }
</style>

<div class="ui content container">
  <img class="ui small left rounded floated image" src="/me.jpg" width="200px" alt="me">
  <p>
    Hi, my name is Zubeir Mohamed I am a Data Science and AI Student at Saarland University and Intern as a
    Software Engineer at Software AG. I
    started coding {{moment-from-now "2017-08-01"}} and felt in love ever since. My goal is to impact peoples
    life by solving problems through software and reach the full potential of my creativity. My hobbies are
    building apps and playing basketball.
    the <a href="/" id="social-links">Home</a> Page and use any social-link you like. LET'S CONNECT 😄
  </p>
  <br>
  {{#link-to "projects" class="ui huge rounded inverted button" id="projectbutton"}}
    Check out my Projects
  {{/link-to}}
  <br>
  <br>
  <br>
</div>
