{{outlet}}

<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui centered grid">
      <div class="center aligned column">
        © 2019 Zubeir Mohamed
      </div>
    </div>
  </div>
</div>