<div class="ui content container">
  <h1 class="ui huge inverted header" id="nameheader">
    Hello, I'm Zubeir Mohamed
    <div class="sub header" id="subheader">
      Software Engineering Intern at Software AG - Data Science & AI Student
    </div>
  </h1>
  <a target="_blank" rel="noopener" href="mailto:zubeir.mohamed@outlook.de">
    <img  src="https://imgur.com/rgQTKmk.png" width="60px" alt="mail_logo">
  </a>
  &nbsp;
  <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/zubeir-mohamed-29668217b/">
    <img  src="https://imgur.com/TqvrnCr.png" width="60px" alt="twitter_logo">
  </a>&nbsp;
  <a target="_blank" rel="noopener" href="https://github.com/zubeirtech">
    <img  src="https://imgur.com/Bf383A2.png" width="60px" alt="linkedin_logo">
  </a>
  &nbsp;
  <a target="_blank" rel="noopener" href="http://twitter.com/zubeirtech">
    <img src="https://imgur.com/e4ZP8u5.png" width="60px" alt="github_logo">
  </a>
  &nbsp;
  <br>
  <br>
  {{#link-to "projects" class="ui huge circular inverted button" id="projectbutton"}}
    Check out my Projects
  {{/link-to}}
</div>
<footer class="ui inverted vertical segment">
  © 2020 - ZubeirTech - Black Lives Matter
</footer>
