<div class="ui container" >
  <div class="ui centered grid fade-in one">
    <div id="main-column" class="centered aligned column">
      <h1 id="main-heading" class="ui large header">Zubeir Mohamed</h1>
      <h2 id="sub-header" class="ui header">Student and Software Developer</h2>
      <a target="_blank" href="mailto:zubeir.mohamed@outlook.de"><img id="icon" src="https://imgur.com/rgQTKmk.png" width="65px" alt="mail_logo"></a>&nbsp;
      <a target="_blank" href="https://www.linkedin.com/in/zubeir-mohamed-29668217b/"><img id="icon" src="https://imgur.com/TqvrnCr.png" width="65px" alt="twitter_logo"></a>&nbsp;
      <a target="_blank" href="https://github.com/zubeir68"><img id="icon" src="https://imgur.com/Bf383A2.png" width="65px" alt="linkedin_logo"></a>&nbsp;
      <a target="_blank" href="http://twitter.com/ZubeirMohamed2"><img id="icon" src="https://imgur.com/e4ZP8u5.png" width="65px" alt="github_logo"></a>&nbsp;
      <br>
      <br>
      {{#link-to "about" class="menu"}}
        About Me
      {{/link-to}}&nbsp;&nbsp;
      {{#link-to "projects" class="menu"}}
        Projects
      {{/link-to}}&nbsp;&nbsp;
      <a href="" class="menu">
        Resume
      </a>
    </div>
  </div>
</div>
{{!-- TODO: RESUME LINK!! --}}
