<div class="ui container">
  <div class="ui centered grid">
    <div id="main-column" class="centered aligned column">
      <h1 id="main-heading" class="ui header">Zubeir Mohamed</h1>
      <h2 id="sub-header">Student and Software Developer</h2>
    </div>
  </div>
</div>